# Basic Syntax

Write code that prints "Hello, World!"

In [8]:
print("Hello World!")

Hello World!

Fix the syntax of the following cells:

In [9]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [10]:
if 5 > 2:
   print("Five is greater than two!")

print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Write a comment with only one line and another with more than one line

In [11]:
# This is one line comment.
""" 
more
than
one line
comment 
"""

' \nmore\nthan\none line\ncomment \n'

# Data: scalar types

Here you have to:
* define variables of the basic types: integer, floating comma, string and boolean
* print variables
* verify that the types of the variables are as required (type function)
* remove variables

In [12]:
a = "Text"
b= 22
c= 63.8
d= True

print (type(a),type(b),type(c),type(d))
del (a,b,c,d)

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

* declare multiple variables on a single line
* declare several variables with the same value in a single line
* in each case use print to verify your results
* remove variables when finished

In [13]:
a,b,c = 2,"books", True
print(a,b,c)
x = y = z = "Tuğba"
print(x)
print(y)
print(z)
del(a,b,c,x,y,z)

2 books True
Tuğba
Tuğba
Tuğba

* declare 3 variables of type string
* concatenate them by assigning the result to a fourth variable
* check your result with a print

In [14]:
a = "Hello "
b = "World "
c= "!!"
d = a+b+c
print(d)

Hello World !!

Access the first, fifth and last character of the following string variable

In [15]:
a = "Hello, World!"
print(a[0])
print(a[5])
print(a[-1])

H
,
!

From the variable ** s **, using the methods of the string type variables, obtain:
- capitalize the first character
- count how many times the character 'i' appears
- check if the variable ends with the character 'x'
- verify that all characters are lowercase
- capitalize the variable
- replace the sub-string 'inf' with 'sup'

In [16]:
s = "inferior"
print(s.capitalize())
print(s.count('i'))
print(s.find("x"))
print(s.lower())  
print(s.upper())
print(s.replace("inf","sup"))

Inferior
2
-1
inferior
INFERIOR
superior

with variables a, b:
- add them
- multiply them
- divide
- get the integer part of the quotient
- get the remainder of the division
- squares 'a'
- convert 'a' to float type
- verify that 'a' is greater than 'b'
- verify that 'a' is different from 'b'

In [ ]:
a,b = 11,5
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**2)
print(float(a))
is_greater_than = a > b
print(is_greater_than)
is_equal_to = a==b
print(is_equal_to)

16
55
2.2
2
1
121
11.0
True
False

# Data: data structures

- define a tuple with 3 elements without using the tuple constructor
- define a tuple with 3 elements with the tuple constructor
- define a single element tuple

In [ ]:
names = ("Ali", "Mehmet", "Esra")
print(names)
surnames = tuple(("Çelik", "Yılmaz", "Durkut")) 
print(surnames)
myt =tuple(("hello"))
print(myt)

('Ali', 'Mehmet', 'Esra')
('Çelik', 'Yılmaz', 'Durkut')
('h', 'e', 'l', 'l', 'o')

- access the first element of the tuple
- access the last element of the tuple
- calculate the length of the tuple
- get the number of times the value 1 appears
- get the index of the element 'hello' in the tuple

In [ ]:
mytuple = (1,'hola',1,True)

print(mytuple[0])
print(mytuple[-1])
print(len(mytuple))
num = mytuple.count(1)
print(num)
print(mytuple.index('hola'))

1
True
4
3
1

- define a list with 3 elements of different types
- define a list of 3 elements with the list constructor

In [ ]:
mylist = [61,"new",32.8]
print(mylist)
mylist2 = list(mylist)
print(mylist2)

[61, 'new', 32.8]
[61, 'new', 32.8]

- sort the list
- add item 5 to the list
- remove item 5 from the list
- join the list with the list ['a', 'b', 'c']
- duplicate the list
- empty the list

In [ ]:
import copy

mylist = [3,4,1,2]
mylist.sort()
print(mylist)
mylist.append(5)
print(mylist)
del mylist[-1]
print(mylist)
mylist.extend(['a', 'b', 'c'])
print(mylist)
duplicate = mylist.copy()
print(duplicate)
mylist.clear()
print(mylist)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 'a', 'b', 'c']
[1, 2, 3, 4, 'a', 'b', 'c']
[]

- define a set with 3 elements
- define a set of 3 elements with the set constructor

In [ ]:
myset = {67, 3, "hi"}
print(myset)
myset2 = set([54,15,8])
print(myset2)

{3, 67, 'hi'}
{8, 54, 15}

- get the length of the two sets
- check if there is an intersection between both sets
- get the intersection between both sets
- get the elements of set1 that are not in set2
- check if set1 contains set2
- get the union between both sets
- remove item 1 from set1
- add the element 'hello' to set1
- empty set1

In [ ]:
set1,set2 = {1,2,3,4,5},{4,5,6,7,8}
print(len(set1))
print(len(set2))
print(bool(set1 & set2))
print(set1.intersection(set2))
print(set2.issubset(set1))
newset = set.union(set1,set2)
print(newset)
set1.remove(1)
print(set1)
set1.add("hello")
print(set1)
set1.clear()
print(set1)

5
5
True
{4, 5}
False
{1, 2, 3, 4, 5, 6, 7, 8}
{2, 3, 4, 5}
{2, 3, 4, 5, 'hello'}
set()

- define a dictionary with 3 elements
- get the length from the dictionary
- access the value of the first element

In [ ]:
dict = {'Name': 'Tuğba', 'Age': 22, 'Class': 'Third'}
print(len(dict))
print ( dict['Name'])

3
Tuğba

- get the items from the dictionary
- get the keys from the dictionary
- get the values from the dictionary
- remove the key-value from key = 'hello'
- empty the dictionary

In [ ]:
mydict = {'hola':1,True:2,123:456}

print(mydict.items())
print(mydict.keys())
print(mydict.values())
del mydict["hola"]
mydict.clear()
print(mydict)

dict_items([('hola', 1), (True, 2), (123, 456)])
dict_keys(['hola', True, 123])
dict_values([1, 2, 456])
{}

# Flow control structures

## if loop
- define x as an integer
- defines a flow that using if,elif and else:
   1. if x <0 print 'is a negative value'
   2. else if 0 <x <5 print 'is less than 5'
   3. else if 5 <x <100 print 'is less than 100'
   4. otherwise print 'is a large number'

In [ ]:
x = 15
if x <0:
  print("15 is a negative value ")
elif 0<x<5:
  print("15 is less than 5")
elif 5<x<100:
  print("15 is less than 100")
else:
  print("15 is a large number")

15 is less than 100

## while loop
create a while loop that writes only the even numbers less than 20 on the screen

In [ ]:
x = 0
while x < 20:
    if x % 2 == 0:
        print(x)
    x +=1

0
2
4
6
8
10
12
14
16
18

creates a while loop that writes on the screen only the even numbers less than 20 excluding 10 and when finished writes "Finished!"

In [ ]:
x = 0
while x < 20:
    
    if x % 2 == 0 and x !=10 :
        print(x)
    x +=1
print("Finished!")

0
2
4
6
8
12
14
16
18
Finished!

## for loop
create a for loop that prints the multiples of 5 up to the number 100 except those divisible by 3

In [ ]:
x=[] 
for i in range(0, 101): 
    if i%5==0 and i%3 !=0: 
        x.append(i) 
print(x)

[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]

with a for loop, iterate over the list printing the item and stops the loop if a number> 10 is found

In [ ]:
mylist = [1,5,2,4,8,22,4,643]
for i in mylist:
    if i >= 10:
        print("Next number is bigger than 10")
        break
   
    else:
        print(i)
    i+=1

1
5
2
4
8
Next number is bigger than 10

# Comprehensions

- create a list using a for loop on a single line that takes the values from 0 to 21 in intervals of 3
- create a list by means of a for loop in a single line that takes the values from 0 to 21 in intervals of 3 except the values divisible by 2 that substitutes them for the string 'even'
- defines a dictionary with a for loop with keys the numbers from 1 to 10 and with True or False values depending on whether they are odd or even

In [ ]:
for number in range(0,21,3):
    print(number)
###################
for number in range(0,21,3):
   if number %2==1: 
    print(number)
###################
numbers = range(10)

for n in numbers:
    if n%2==0:
        print(True)
    else:
      print(False)

0
3
6
9
12
15
18
3
9
15
True
False
True
False
True
False
True
False
True
False

# Functions

- define a function that prints "returning value 2" and returns the value 2
- define a function that takes two integer values and returns the power of the first and second
- defines a function that takes two integer values and returns the power of the first and second, but if the exponent is greater than 20 it prints "the exponent is too high" and returns 0. It must have as predefined values: base = 5, exponent = 3
- define the power function with a lambda function on one line and check that it works
- define a generator function that returns the powers of 2 in ascending order from the initial exponent = 0

In [ ]:
def myfunc():
    return 2
print("returning value 2")



def exp(x,y):
    x=x**2
    y=y**2
    return (x,y)

print(exp(2,5))



def newexp(x,y):
    if(y>20):
        print("the exponent is too high")
        return 0
    else:
        x=x**y
        return x
print(newexp(5,3))



exp=lambda a : a * a
print(type(exp))
print(exp(5))




def squares(n):
    power = n
    square_list = []
    for i in range(0,n+1):
      square_list.append(2 ** i)
    return square_list

print(squares(10))

returning value 2
(4, 25)
125
<class 'function'>
25
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

Please check and understand the scope of the variables commenting and uncommenting in the following code:
```python
x='global_Name'
def myfunc1():
    #global x
    x = 'myfunc1_name'
    def myfunc2():
        #global x
        nonlocal x
        #x = 'myfunc2_name'
        return x
    return myfunc2()    

print(myfunc1())
print(x)
```
- how does the command nonlocal work?
- if a variable used within a function is defined as global, what does it imply?

In [17]:
print("The output will be like : \nmyfunc1_name\nglobal_Name")
#If we call the myfunc1() it prints the variable which is inside the function.
#If we print x the output will be global_Name because it is global variable.

The output will be like :
myfunc1_name
global_Name

# Exceptions

Add try except statements that catch the error. print to screen then run second line

In [18]:
try:
  a = 15/'s'
  print(5*2)
except:
  print("unsupported operand type(s) for /: 'int' and 'str'")

unsupported operand type(s) for /: 'int' and 'str'

prints at each step of the loop: numerator, denominator, result, in case of numerical error catch the exception and print the reason for the error

In [19]:
try:
  for i in range(0,5):
    for j in [1,12,0]:
      res = i/j
      print(i,j,res)
except(ZeroDivisionError):
  i=0

0 1 0.0
0 12 0.0

capture the different exceptions by printing a different message on the screen, if there is no exception do not show anything on the screen

In [4]:
try:
  for den in [1,2,3,0,'hola',5]:
    res = 10/den
    pass
except ZeroDivisionError:
    print(ZeroDivisionError)

<class 'ZeroDivisionError'>

raise an exception if a> 12

In [20]:
for i in range(2,20,2): 
  pass
if(i>12):
  raise ValueError("This number is bigger than 12")

ValueError: ignored

# Regex

Write a Python program that matches a string that has an 'a' or an 'A' followed by three 'b' for each string in the following list:
text_list = ['aab', 'aab_cbbbc', 'aab_', 'aab_Abbbc', '_acb_', 'Aaab_abbbc', '_acb']

In [21]:
import re
text_list = ['aab', 'aab_cbbbc', 'aab_', 'aab_Abbbc', '_acb_', 'Aaab_abbbc', '_acb']
def text_list(text):
        patterns = 'a*b{3}'
        if re.search(patterns,  text):
                return('Found a match!')
        else:
                return('Not matched!')
print(text_list('aab'))
print(text_list('aab_cbbbc'))
print(text_list('aab_')) 
print(text_list('aab_Abbbc')) 
print(text_list('_acb_')) 
print(text_list('Aaab_abbbc')) 
print(text_list('_acb'))

Not matched!
Found a match!
Not matched!
Found a match!
Not matched!
Found a match!
Not matched!

Write a Python program that matches a string that has an 'a' or an 'A' followed by anything, ending in 'b' (considering uppercase or lowercase text) for each string in the following list:, 
text_list = ['aab', 'aab_cbbbc', 'aab_', 'aab_Abbbc', '_acb_', 'Aaab_abbbc', '_acb']

In [22]:
import re
text_list = ['aab', 'aab_cbbbc', 'aab_', 'aab_Abbbc', '_acb_', 'Aaab_abbbc', '_acb']
def text_list(text):
        patterns = 'a.*?b$'
        if re.search(patterns,  text):
                return('Found a match!')
        else:
                return('Not matched!')
print(text_list('aab'))
print(text_list('aab_cbbbc'))
print(text_list('aab_')) 
print(text_list('aab_Abbbc')) 
print(text_list('_acb_')) 
print(text_list('Aaab_abbbc')) 
print(text_list('_acb'))

Found a match!
Not matched!
Not matched!
Not matched!
Not matched!
Not matched!
Found a match!

Write a Python program to find sequences of lowercase letters joined with a underscore for each string in the following list:
text_list = ['aab', 'aab_cbbbc', 'aab_', 'aab_Abbbc', '_acb_', 'Aaab_abbbc', '_acb']

In [23]:
import re
text_list = ['aab', 'aab_cbbbc', 'aab_', 'aab_Abbbc', '_acb_', 'Aaab_abbbc', '_acb']
def text_list(text):
        patterns = '^[a-z]+_[a-z]+$'
        if re.search(patterns,  text):
                return('Found a match!')
        else:
                return('Not matched!')
print(text_list('aab'))
print(text_list('aab_cbbbc'))
print(text_list('aab_')) 
print(text_list('aab_Abbbc')) 
print(text_list('_acb_')) 
print(text_list('Aaab_abbbc')) 
print(text_list('_acb'))

Not matched!
Found a match!
Not matched!
Not matched!
Not matched!
Not matched!
Not matched!

Write a Python program to remove leading zeros from an IP address.
ip = "216.08.094.196"

In [24]:
import re
ip = "216.08.094.196"
string = re.sub('\.[0]*', '.', ip)
print(string)

216.8.94.196

Find all the IPs number in the following HTML:
```html
<html><head><title>Current IP Check</title></head><body>Current IP Address: 165.91.15.131 216.8.94.196</body></html>
```

In [25]:
import re
text = "<html><head><title>Current IP Check</title></head><body>Current IP Address: 165.91.15.131 216.8.94.196</body></html>"
ip = re.findall( r'[0-9]+(?:\.[0-9]+){3}', text )
print(ip)

['165.91.15.131', '216.8.94.196']

Write a Python program to separate and print the numbers of a given string.
text = "Ten 10, Twenty 20, Thirty 30"

In [26]:
import re

text = "Ten 10, Twenty 20, Thirty 30"
result = re.split("\D+", text)

for element in result:
  print(element)

10
20
30

# Object Oriented Programming

Given the following class hierarchy, print the output of a, b and c methods, from a C object.
```python



class A:
    def __init__(self):
        print("Soy de clase A")

    def a(self):
        print("Este método lo heredo de A")

class B:
    def __init__(self):
        print("Soy de clase B")
        
    def b(self):
        print("Este método lo heredo de B")

class C(B,A):
    def c(self):
        print("Este método es de C")

```

In [27]:
from typing_extensions import Self
class A:
    def __init__(self):
        print("Soy de clase A")

    def a(self):
        print("Este método lo heredo de A")

class B:
    def __init__(self):
        print("Soy de clase B")
        
    def b(self):
        print("Este método lo heredo de B")

class C(B,A):
    def c(self):
        print("Este método es de C")

print(C.a(Self))
print(C.b(Self))
print(C.c(Self))

Este método lo heredo de A
None
Este método lo heredo de B
None
Este método es de C
None

Given the following class hierarchy:
- understand their building and relationships
- build an electric car (manufacturer: 'tesla', model: 'model s', year: 2016)
- print information about the initial battery of this car and after upgrading it.

```python
class Car():
    """A simple attempt to represent a car."""

    def __init__(self, manufacturer, model, year):
        """Initialize attributes to describe a car."""
        self.manufacturer = manufacturer
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return a neatly formatted descriptive name."""
        long_name = str(self.year) + ' ' + self.manufacturer + ' ' + self.model
        return long_name.title()
    
    def read_odometer(self):
        """Print a statement showing the car's mileage."""
        print("This car has " + str(self.odometer_reading) + " miles on it.")
        
    def update_odometer(self, mileage):
        """
        Set the odometer reading to the given value.
        Reject the change if it attempts to roll the odometer back.
        """
        if mileage >= self.odometer_reading:
            self.odometer_reading = mileage
        else:
            print("You can't roll back an odometer!")
    
    def increment_odometer(self, miles):
        """Add the given amount to the odometer reading."""
        self.odometer_reading += miles

class Battery():
    """A simple attempt to model a battery for an electric car."""

    def __init__(self, battery_size=60):
        """Initialize the batteery's attributes."""
        self.battery_size = battery_size

    def describe_battery(self):
        """Print a statement describing the battery size."""
        print("This car has a " + str(self.battery_size) + "-kWh battery.")
        
    def get_range(self):
        """Print a statement about the range this battery provides."""
        if self.battery_size == 60:
            range = 140
        elif self.battery_size == 85:
            range = 185
            
        message = "This car can go approximately " + str(range)
        message += " miles on a full charge."
        print(message)
        
    def upgrade_battery(self):
        """Upgrade the battery if possible."""
        if self.battery_size == 60:
            self.battery_size = 85
            print("Upgraded the battery to 85 kWh.")
        else:
            print("The battery is already upgraded.")
    
        
class ElectricCar(Car):
    """Models aspects of a car, specific to electric vehicles."""
    
    def __init__(self, manufacturer, model, year):
        """
        Initialize attributes of the parent class.
        Then initialize attributes specific to an electric car.
        """
        super().__init__(manufacturer, model, year)
        self.battery = Battery()
```

In [29]:
class Car():
    """A simple attempt to represent a car."""

    def __init__(self, manufacturer, model, year):
        """Initialize attributes to describe a car."""
        self.manufacturer = "tesla"
        self.model = "model s"
        self.year = 2016
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return a neatly formatted descriptive name."""
        long_name = str(self.year) + ' ' + self.manufacturer + ' ' + self.model
        return long_name.title()
    
    def read_odometer(self):
        """Print a statement showing the car's mileage."""
        print("This car has " + str(self.odometer_reading) + " miles on it.")
        
    def update_odometer(self, mileage):
        """
        Set the odometer reading to the given value.
        Reject the change if it attempts to roll the odometer back.
        """
        if mileage >= self.odometer_reading:
            self.odometer_reading = mileage
        else:
            print("You can't roll back an odometer!")
    
    def increment_odometer(self, miles):
        """Add the given amount to the odometer reading."""
        self.odometer_reading += miles

class Battery():
    """A simple attempt to model a battery for an electric car."""

    def __init__(self, battery_size=60):
        """Initialize the batteery's attributes."""
        self.battery_size = battery_size

    def describe_battery(self):
        """Print a statement describing the battery size."""
        print("This car has a " + str(self.battery_size) + "-kWh battery.")
        
    def get_range(self):
        """Print a statement about the range this battery provides."""
        if self.battery_size == 60:
            range = 140
        elif self.battery_size == 85:
            range = 185
            
        message = "This car can go approximately " + str(range)
        message += " miles on a full charge."
        print(message)
        
    def upgrade_battery(self):
        """Upgrade the battery if possible."""
        if self.battery_size == 60:
            self.battery_size = 85
            print("Upgraded the battery to 85 kWh.")
        else:
            print("The battery is already upgraded.")
    
        
class ElectricCar(Car):
    """Models aspects of a car, specific to electric vehicles."""
    
    def __init__(self, manufacturer, model, year):
        """
        Initialize attributes of the parent class.
        Then initialize attributes specific to an electric car.
        """
        super().__init__(manufacturer, model, year)
        self.battery = Battery()




p1=ElectricCar("Tesla","model s","2016")
print(p1.get_descriptive_name())
my_tesla = ElectricCar('tesla', 'model s', 2016)
my_tesla.battery.describe_battery()


my_tesla.battery.upgrade_battery()
my_tesla.battery.describe_battery()


my_tesla.battery.upgrade_battery()
my_tesla.battery.describe_battery()

2016 Tesla Model S
This car has a 60-kWh battery.
Upgraded the battery to 85 kWh.
This car has a 85-kWh battery.
The battery is already upgraded.
This car has a 85-kWh battery.